:root{
    --primary-color: #000000;
    --secondary-color: #B2BABB;
    --bg-color: #f7f7f7;
    --main-color: #ff731a;
    --behave: 0.2s ease-in-out;
}

body{
    margin: 0;
    overflow: visible;
    box-sizing: border-box;
    background: black;
    font-size: 16px;
    font-family: courier;
    width: 100vw;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
    transition: var(--behave);
}

li{
    list-style: none;
}

.contain{
    width: 95vw;
    margin: auto;
}

h1{
    margin: 0;
}

.stay{
    position: fixed;
    width: 95vw;
    margin: auto;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    margin: auto;
}

.trans-head{
    position: absolute;
    left: 0;
    transform: translate(-50% -50%);
}

.trans-head img{
    width: 30%;
}

.navbar{
    position: absolute;
    transform: translate(-50% -50%);
    left: 50%;
    transform: translateX(-50%);
}

.contactbtn{
    position: absolute;
    right: 0;
    transform: translate(-50% -50%);
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    text-transform: uppercase;
    transition: var(--behave);
}

.contactbtn:hover{
    opacity: 0.6;
}

.contactbtn a:hover{
    color: white;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2.6rem;
}

.navbar li{
    font-size: 1rem;
}

.navbar a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
}

.navbar a.current{
    color: var(--main-color);
    text-decoration: underline;
    text-underline-offset: 12px;
}

.web{
    background-color: black;
}

.contact{
    background: black;
    color: white;
    padding: 35px 0px;
}

.contact-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    width: 75vw;
    margin: auto;
}

.contact-grid:first-child{
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input, textarea{
    border-radius: 14px;
    border: 3px var(--main-color) solid;
    outline: none;
    font-family: monospace;
    font-size: 16px;
    width: 300px;
    height: 50px;
}

input::placeholder, textarea::placeholder{
    color: gray;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.btnxx{
    color: white;
    font-family: 28px;
    font-family: monospace;
    padding: 14px 20px;
    border: none;
    border-radius: 12px;
    background-color: var(--main-color);
    transition: var(--behave);
    width: 120px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.btnxx:hover{
    opacity: 0.7;
}

.line3{
    width: 3px;
    height: 500px;
    background-color: var(--main-color);
}

.request{
    font-family: impact;
    text-align: center;
}

.quest{
    font-size: 9rem;
    color: var(--main-color);
}

.quote{
    color: gray;
    font-size: 7rem;
}

.quote span{
    color: white;
}

.webstrlogos2{
    width: 100%;
    padding-top: 40px;
    margin: auto;
}

.webstrlogos2 img{
    width: 20%;
    transition: var(--behave);
}

.webstrlogos2 img:hover{
    opacity: 0.6;
}

.card .contain{
    width: 80%;
    margin: auto;
}

.card img{
    width: 100%;
}

footer{
    background: black;
    padding: 14px;
    color: white;
    height: fit-content;
    padding: 35px 12px;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
    height: fit-content;
}

.footer-L{
    width: 50%;
}

.footer-L img{
    width: 20%;
}

.footer-L h1{
    font-size: 70px;
    color: grey;
    font-weight: bold;
    font-family: impact;
}

.footer-L span{
    color: var(--main-color);
}

.line{
    background: var(--main-color);
    width: 350px;
    height: 3px;
}

.footer-L h2{
    font-weight: bold;
}

.webstrlogos{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: fit-content;
    margin: 0;
}

.webstrlogos img{
    width: 60px;
    margin: 0;
    padding-left: 10px;
    transition: var(--behave);
}

.webstrlogos img:hover{
    opacity: 0.6;
}

.footer-R{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1.4rem;
    height: 60vh;
}

.footer-R h1{
    font-family: impact;
    font-size: 2rem;
    color: gray;
    text-align: center;
    text-transform: uppercase;
}

footer li{
    padding-top: 10px;
    list-style: square;
}

.curtain{
    background-color: var(--main-color);
    color: white;
    padding: 14px 0px;
}

.curtain p{
    margin: 0;
}

.curtaingrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: var(--behave);
}

.curtaingrid a:hover{
    color: black;
}

@media(max-width: 768px){

    .contact-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form{
        padding-top: 15px;
        margin: auto;
        width: 95%;
    }

    .that{
        order: 3;
    }

    .line3{
        order: 2;
        width: 90%;
        height: 3px;
        margin: auto;
    }

    .request{
        order: 1;
    }

    .quote{
        font-size: 4rem;
    }

    .quest{
        font-size: 5rem;
    }

    input,textarea{
        margin: auto;
    }

    .footer-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .footer-L{
        width: 90%;
        margin: auto;
    }

    .footer-L h1{
        margin: 0;
        width: 100%;
        font-size: 3rem;
    }
    
    .line{
        margin: auto;
        width: 80%;
        height: 3px;
    }
    
    .webstrlogos, .webstrlogos2{
        display: flex;
        align-items: center;
        align-self: center;
        width: 100%;    
        margin: auto;
    }
    
    .webstrlogos img, .webstrlogos2 img{
        width: 100%;
        padding-left: 3px;
    }
    
    .footer-R{
        display: none;
    }

    .curtain{
        margin: 0;
    }
    
    .curtaingrid p{
        font-size: 12px;
        text-align: center;
    }
    
    .curtaingrid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}