:root{
    --primary-color: #000000;
    --secondary-color: #B2BABB;
    --bg-color: #f7f7f7;
    --main-color: #ff731a;
    --behave: 0.2s ease-in-out;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: visible;
    box-sizing: border-box;
    background: var(--bg-color);
    font-size: 16px;
    font-family: courier;
    width: 100vw;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
    transition: var(--behave);
}

li{
    list-style: none;
}

.contain{
    width: 95vw;
    margin: auto;
}

h1{
    margin: 0;
}

/**Individual-classes**/

.hamburger{
    display: none;
}

.hero{
    background: url(../images/20250419_080602.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 97vh;
}

.dark{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 97vh;
}

.stay{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    margin: auto;
}

.trans-head{
    position: absolute;
    left: 0;
    transform: translate(-50% -50%);
}

.trans-head img{
    width: 30%;
}

.navbar{
    position: absolute;
    transform: translate(-50% -50%);
    left: 50%;
    transform: translateX(-50%);
}

.contactbtn{
    position: absolute;
    right: 0;
    transform: translate(-50% -50%);
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    text-transform: uppercase;
    transition: var(--behave);
}

.contactbtn:hover{
    opacity: 0.6;
}

.contactbtn a:hover{
    color: white;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2.6rem;
}

.navbar li{
    font-size: 1rem;
}

#show{
    display: none;
}

.navbar a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
}

.navbar a.current{
    color: var(--main-color);
    text-decoration: underline;
    text-underline-offset: 12px;
}

.name{
    color: gray;
    font-family: impact;
    font-size: 150px;
    margin-top: 1.8in;
    line-height: 0.9;
}

.linear{
    width: 54%;
    height: 3px;
    background: var(--main-color);
    margin: 0;
}

.profession{
    width: 54%;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}

.short span, .name span{
    color: var(--main-color);
}

.short{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    font-size: 60px;
    margin-left: 50px;
}

.hero p{
    font-family: monospace;
    font-size: 12px;
    color: gray;
}

.describe{
    position: absolute;
    bottom:20px;
    left: 70px;
    width: 500px;
}

.describe2{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 400px;
}

.describe3{
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 500px;
}

.inter-grid{
    width: 80vw;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    row-gap: 10rem;
    margin: 14px 0px;
    align-items: center;
}

.grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.grid p,.grid2 p{
    font-family: impact;
    text-transform: uppercase;
    margin: 0;
}

.bigger{
    font-size: 3rem;
    color: gray;
    margin: 0;
}

.bigger2{
    color: var(--main-color);
    font-size: 3rem;
}

.bigger3{
    font-size: 4rem;
}

.bigger3 span{
    color: var(--main-color);
}

.gray{
    color: gray;
    font-size: 1.5rem;
}

.lang{
    color: black;
    font-size: 2.2rem;
}

.clang{
    font-size: 2rem;
    color: gray;
}

.span2{
    color: var(--main-color);
}

.span1{
    color: black;
}

.section2{
    margin: 50px 0px;
}

.inter-grid img, .project-grid img{
    width: 100%;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 20px 0px;
}

.nnnn{
    font-family: impact;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.name2{
    font-family: impact;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 5rem;
}

.line2{
    background-color: var(--main-color);
    width: 3px;
    height: 400px;
}

.abt p{
    font-size: 1.1rem;
    font-weight: bold;
}

.btn{
    margin: auto;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 12px 14px;
    transition: var(--behave);
}

.btn:hover{
    opacity: 0.6;
}

.btn a:hover{
    color: white;
}

.section3 h1{
    text-align: center;
    font-family: impact;
    font-size: 3rem;
}

.section3 h1 span{
    color: var(--main-color);
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    margin-top: 30px;
}

.pgrid{
    margin: 20px 0px;
    position: relative;
}

.pgrid img{
    width: 100%;
    border-radius: 20px;
}

.p-btn{
    background-color: var(--main-color);
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    transition: var(--behave);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.p-btn:hover{
    opacity: 0.6;
}

.p-btn a:hover{
    color: white;
}

.contact{
    background: black;
    color: white;
    padding: 35px 0px;
    min-height: 60vh;
}

.contact-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

input, textarea{
    border-radius: 14px;
    border: 3px var(--main-color) solid;
    outline: none;
    font-family: monospace;
    font-size: 16px;
    width: 300px;
    height: 50px;
}

input::placeholder, textarea::placeholder{
    color: gray;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.btnxx{
    color: white;
    font-family: 28px;
    font-family: monospace;
    padding: 14px 20px;
    border: none;
    border-radius: 12px;
    background-color: var(--main-color);
    transition: var(--behave);
}

.btnxx:hover{
    opacity: 0.7;
}

.line3{
    width: 3px;
    height: 500px;
    background-color: var(--main-color);
}

.request{
    font-family: impact;
    text-align: center;
}

.quest{
    font-size: 8rem;
}

.quote{
    color: gray;
    font-size: 6rem;
}

.quote span{
    color: var(--main-color);
}

.slider-track{
    background-color: var(--main-color);
    padding: 20px 0px;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.image-slider{
    display: flex;
    animation: slide 10s linear infinite alternate;
}

.image-slider img{
    width: 3%;
    height: auto;
    padding-right: 120px;
}

@keyframes slide{
    0%{transform: translateX(350px);}
    100%{transform: translateX(calc(-150px * 6.5));}
}

footer{
    background: black;
    padding: 14px;
    color: white;
    height: fit-content;
    padding: 35px 12px;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
    height: fit-content;
}

.footer-L{
    width: 50%;
}

.footer-L img{
    width: 20%;
}

.footer-L h1{
    font-size: 70px;
    color: grey;
    font-weight: bold;
    font-family: impact;
}

.footer-L span{
    color: var(--main-color);
}

.line{
    background: var(--main-color);
    width: 350px;
    height: 3px;
}

.footer-L h2{
    font-weight: bold;
}

.webstrlogos{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: fit-content;
    margin: 0;
}

.webstrlogos img{
    width: 60px;
    margin: 0;
    padding-left: 10px;
    transition: var(--behave);
}

.webstrlogos img:hover{
    opacity: 0.6;
}

.footer-R{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1.4rem;
    height: 60vh;
}

.footer-R h1{
    font-family: impact;
    font-size: 2rem;
    color: gray;
    text-align: center;
    text-transform: uppercase;
}

footer li{
    padding-top: 10px;
    list-style: square;
}

.curtain{
    background-color: var(--main-color);
    color: white;
    padding: 14px 0px;
}

.curtain p{
    margin: 0;
}

.curtaingrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: var(--behave);
}

.curtaingrid a:hover{
    color: black;
}

@media (max-width: 768px) {
.hamburger{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: translate(-50% -50%);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--behave);
}

.hero p{
    display: none;
}    

.hero h1{
    max-width: 80%;
}

#show{
    display: block;
}

.contactbtn{
    display: none;
}

.name{
    font-size: 90px;
}

.linear{
    width: 80%;
    height: 3px;
    background-color: var(--main-color);
}

.profession{
    font-size: 1.6rem;
    text-align: right;
    width: 100%;
}

.short{
    font-size: 1.6rem;
    margin-left: 10px;
    margin-top: 30px;
}

.inter-grid{
    
}

.grid p{
    font-size: 1.3rem;
}

.grid, .grid2{
    display: flex;
    flex-direction: column;
}

.grid2 .bigger{
    order: 1;
    text-align: center;
}

.grid2 img{
    order: 2;
}

.contact-grid{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.line3{
    width: 80%;
    height: 3px;
    order: 2;
}

.request{
    order: 1;
}

.form{
    order: 3;
    width: 90%;
}

input, textarea{
    width: 70%;
}

.abt{
    font-size: 14px;
    width: 90%;
}

.section2{
    margin: 30px 0;
}

.about-grid{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.line2{
    width: 80%;
    height: 3px;
}

.about h1{
    font-size: 2rem;
    text-decoration: none;
}

.project-grid{
    grid-template-columns: 1fr 1fr;
}

input, textarea{
    width: 100%;
}

.form{
    gap: 1rem;
}

.request h1{
    font-size: 2rem;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-L{
    width: 90%;
    margin: auto;
}

.line{
    margin: auto;
    width: 80%;
}

.webstrlogos{
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;    
    margin: auto;
}

.webstrlogos img{
    width: 100%;
    padding-left: 3px;
}

.footer-R{
    display: none;
}

.curtaingrid p{
    font-size: 12px;
    text-align: center;
}

.curtaingrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}